<div class='card-body'>
	<form action='/shorten' method='post' id='shorten-url-form'>
		<div class='input-group mb-3'>
			<input
				type='text'
				class='form-control url-input'
				id='url-input'
				placeholder='input a URL here'
				aria-label='input a URL here'
				aria-describedby='button-shorten'
				name='url'
				required
			/>
			<button
				class='btn btn-outline-secondary'
				type='submit'
				id='shorten-button'
			>Shorten It!</button>
		</div>
	</form>
</div>